.product {
  &__card {
    background: white;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
  }

  &__img-wrapper {
    width: 200px;
    height: 250px;
  }

  &__img {
    width: 100%;
  }

  &__title {
    text-align: center;
  }

  &__card:hover{
    box-shadow: 0px 5px 10px 14px rgba(0, 0, 0, 0.2);
  }

  z-index: 0;

}